$blotchColor: #fc9378;
$lightGray: #e2e1db;
$midGray: #bbbab7;
$darkGray: #211f1f;
$black: #000000;


body{
  background-color: $lightGray;
  height: 4000px;
}


.content {
  height: 3000px;
}

.wrapper {
  position: fixed;
}

.wrapper .box {
  height: 100px;
  width: 100px;
  position: absolute;
  line-height: 100px;
  text-align: center;
  font-size: 25px;
  color: #fff;
  background: #ff8330;
}
.wrapper .box:nth-of-type(2) {
  left: 100px;
  background: #E01B5D;
}
.wrapper .box:nth-of-type(3) {
  left: 200px;
  background: #30FFFF;
}
.wrapper .box:nth-of-type(4) {
  left: 300px;
  background: #B3FF30;
}
.wrapper .box:nth-of-type(5) {
  left: 400px;
  background: #308AFF;
}
.wrapper .box:nth-of-type(6) {
  left: 500px;
  background: #1BE059;
}


.logoContainer{
  width: 100%;
  text-align: center;
}
.heroLogo{
  position: fixed;
  top: 30%;
  width: 20%;
  height: auto;
  left: 40%;
}

.oppositeDots{
  position: relative;
  z-index: 5;

  .dots{
    position: absolute;
    right: 100px;
    top: -100vh;
    width: 300px;
    height: 100vh;
  }
}

.dots{
  background: url("/dist/images/dots.png") repeat;
}

.heroBlotch{
  width: 50%;
  height: auto;
  position: absolute;
  bottom: -100vh;
  right: 100px;
  z-index: 4;



}

.first{
  width: 100%;
  background-color: $black;
  height: 500px;
  position: relative;
  top: 110vh;

  .darkTopBlotch{
    background: url("../images/black-edge-top.png") repeat-x;
    height: 50px;
    position: relative;
    top: -50px;
  }
}