$blotchColor: #fc9378;
$lightGray: #e2e1db;
$midGray: #bbbab7;
$darkGray: #211f1f;
$black: #000000;


@mixin centerer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

html, body {

}

body{
  background-color: $lightGray;
  padding: 0;
  margin: 0;
  font-family: "freight-sans-pro",sans-serif;
  -webkit-overflow-scrolling: touch;
}

p{
  color: $midGray;
  font-size: 17px;
  padding-right:40px;

  @media (min-width: 400px) {
    font-size:18px;
  }

  @media (min-width: 750px) {
    font-size:20px;
  }
}

.bold{
  font-family: "freight-sans-pro",sans-serif;
  font-weight: 700;
}

.hero{
  position: relative;
  width: 100vw;
  height: 100vh;
  transition: all 1s ease;

  @media (max-width: 780px) {
    height:25vh;
  }

  @media (max-width: 550px) {
    height:45vh;
  }

  .richieCaption{
    display: none !important;

    p {
      color: $black;
      line-height: 0;
    }

    @media screen and (max-width: 550px){
      display: block !important;
      width: 250px;
      text-align: center;
      z-index: 20;
      position: absolute;
      top: 90vh;
      right: 10px;
      z-index: 100;
    }
  }

  .heroLogo{
    width: 20%;
    height: auto;
    @include centerer;
    position: fixed;
    z-index: 10;
    top:40%;

    @media (max-width: 1050px) {
      width:30%;
    }

    @media (max-width: 780px) {
      width:33%;
      left:67%;
      top:20%;
    }

    @media (max-width: 740px) {
      width:30%;
      top:30%;
    }

    @media (max-width: 550px) {
      width:40%;
      left:45%;
      top:35%;
      z-index: 1;
    }

  }

  .heroDots{
    position: absolute;
    top: -100vh;
    right: 50px;
    width: 29%;
    height: 100vh;
    z-index: 2;
  }

  .heroBlotch{
    width: 55%;
    height: auto;
    position: absolute;
    top: 220%;
    right: 100px;
    z-index: 3;

    @media (max-width: 1050px) {
      left: 40%;
      width: 55%;
      top: 180%;
    }

    @media (max-width: 780px) {
      left:50%;
      width:50%;
      top:230%;
    }

    @media (max-width: 740px) {
      left:50%;
      width:50%;
      top:350%;
    }

    @media (max-width: 550px) {
      left:35%;
      width:55%;
      top:170%;
    }
  }
}

.secondSection{
  width: 100vw;
  position: relative;
  z-index: 2;

  .blackBlotch{
    width: 100%;
    height: 800px;
    background-color: $black;
    position: relative;
    top: -50px;

    .richieCaption{
      width: 400px;
      text-align: center;
      z-index: 20;

      p {
        color: $blotchColor;
        line-height: 0;
      }

      @media screen and (max-width: 768px){
        position: relative;
        top: -100px;
      }

      @media screen and (max-width: 667px){
        position: relative;
        top: -100px;
      }

      @media screen and (max-width: 550px){
        display: none;
      }
    }

    .imageHeadline{
      width: 225px;
      display: block;
      margin-top: 50px;
      margin-bottom: 20px;

      //@media (max-width: 780px) {
      //  width:40%;
      //}
      //
      //@media (max-width: 570px) {
      //  width:50%;
      //}
      //
      //@media (max-width: 550px) {
      //  width:70%;
      //}
    }

    @media (max-width: 780px) {
      border-left:0px;
      border-right:0px;
      height:550px;
      padding-top:100px;
      padding-bottom:40px;
    }

    @media (max-width: 740px) {
      height:500px;
    }

    @media (max-width: 550px) {
      border-left:0px;
      border-right:0px;
      padding: 40px 0px;
      height:650px;
    }

    .darkTopBlotch{
      background: url("../images/black-edge-top.png") repeat-x;
      height: 50px;
      position: relative;
      top: -49px;

      @media (max-width: 780px) {
        top:-150px;
      }

      @media (max-width: 550px) {
        top:-80px;
      }
    }

    p{
      color: $blotchColor;
    }
  }

  .richieImage{
    position: relative;
    width: 50%;

    @media (max-width: 1050px) {
      width:70%;
    }

    @media (max-width: 780px) {
      width:80%;
    }

    @media (max-width: 740px) {
      width:70%;
    }

    @media (max-width: 550px) {
      width:100%;
    }
  }
}



.dots{
  background-image: url("../images/dots.png");
  background-repeat: repeat;
}


.thirdSection{
  position: relative;
  top: -50px;
  z-index: 3;
  background-color: $lightGray;

  @media (max-width: 780px) {
    margin-bottom:-80px;
  }

  .grayTopBlotch{
    background: url("../images/gray-edge-2.png") repeat-x;
    height: 50px;
    position: relative;
    top: -49px;
    z-index:10;
  }

  .mainGif{
    width: 80%;
    margin-left: 10%;
    height: auto;

    @media (max-width: 780px) {
      width:100%;
      margin-left:0px;
    }

    @media (max-width: 550px) {
      width:100%;
      margin-left:0px;
      padding-top: 100px;
      padding-bottom: 160px;
    }
  }
}

.artisinalStratContainer{
  transition: top 2s linear;
  display: block;
}

.artisinalStratContainer2{
  display: block;
  position: relative;
}

.third {
  width: 100%;
  position: relative;
  padding-bottom:100px;
  z-index:11;
  transition: all 1s ease;

  .imageHeadline{
    width: 225px;
    display: block;
    margin-top: 50px;
    margin-bottom: 20px;

    //@media (max-width: 780px) {
    //  width:40%;
    //}
    //
    //@media (max-width: 570px) {
    //  width:50%;
    //}
    //
    @media (max-width: 550px) {
    width:55%;
  }
  }

  @media (min-width: 667px) {
    background-size:contain;
    background-repeat:no-repeat;
    background-position: 20%;
    padding-bottom:240px;
  }

  @media (min-width: 1200px) {
    padding-bottom:360px;
  }

  @media (max-width: 780px) {
    overflow:hidden;
    padding-bottom:370px;
  }

  @media (max-width: 570px) {
    padding-bottom:150px;
  }

  @media (max-width: 550px) {
    overflow:hidden;
    padding-bottom: 360px;
  }

  .secondBlotch{
    position: absolute;
    top: 200px;
    left: 10px;
    display: block;
    margin-top: 100px;

    @media (max-width: 780px) {
      left:0px;
      margin-top:0px;
      top:0px;
      height:790px;
    }

    @media (max-width: 740px) {
      height:700px;
    }

    @media (max-width: 570px) {
      height:590px;
    }

    @media (max-width: 550px) {
      left:-100px;
      margin-top:0px;
      top:0px;
      height:800px;
    }
  }

  .twelve{
    margin-top: 500px;

    @media (max-width: 780px) {
      margin-top:40px;
    }

    @media (max-width: 550px) {
      margin-top:140px;
    }
  }

  .columns {
    display:block !important;
    opacity:1;
    transition:opacity 1s ease;

    &.hide {
      opacity:0;
    }
  }

  .smallLogo {
    margin-top: 100px;
    margin-bottom:0px;
    position: relative;
  }

  p {
    color:$black;
    margin-bottom:0px;
  }

  .quote {
    margin-top:24px;
  }

  .source {
    padding-left:20px;
    font-size:13px;

    @media (min-width: 550px) {
      font-size:15px;
    }
  }
}


.fourth {
  padding-bottom:450px;
  padding-top:80px;
  position: relative;
  z-index: 12;

  .imageHeadline{
    width: 315px;
    display: block;
    margin-top: 50px;
    margin-bottom: 20px;

    @media screen and (max-width: 550px) {
      width:80%;
    }
  }

  @media (min-width: 550px) {
    position: relative;
    top: 300px;
  }

  @media (max-width: 780px) {
    padding-top:0px;
    bottom:0px;
  }

  @media (max-width: 550px) {
    padding-top:0px;
    padding-bottom:250px;
    background-color: $lightGray;
  }

  .logoFg {
    display:none;
    opacity:0;
    transition:opacity 1s ease;

    &.show {
      opacity:1;
    }

    &.is_stuck {
      position:fixed !important;
      top:200px !important;
    }

    @media (min-width: 550px) {
      display:block;
      width: 250px;
      position: absolute;
      left: 5%;
      top: -20%;
    }

    @media (min-width: 1050px) {
      left: 11%;
    }

    @media (min-width: 1200px) {
      left:8%;
    }
  }

  .dots {
    display: none;

    @media (min-width: 550px) {
      background: url(/dist/images/dots.png);
      display: block;
      height: 20%;
      width: 25%;
      position: absolute;
      left: 0;
      z-index: 11;
      top:18%;
    }

    @media (min-width: 1050px) {
      width:26%;
      height:40%;
    }
  }

  .container {

    @media (min-width: 550px) {
      width: 70%;
      left: 30%;
      margin-left:0;
    }

    @media (max-width: 780px) {
      width:80%;
      left:0%;
      margin:auto;
    }
  }

  hr {
    width:110%;
    border-color:$black;
  }

  p {
    color:$black;
    margin-bottom:0px;
  }

  .last {
    margin-top:24px;
  }


}


.fifth {
  text-align:center;
  position: relative;
  z-index: 10;
  z-index: -1;
  padding-bottom:240px;
  padding-top:240px;

  img {
    position: relative;
  }

  .smallBlotchBg {
    width:300px;
    position:absolute;
    left:31%;

    @media (max-width: 1050px) {
      width:320px;
      left:23%;
    }

    @media (max-width: 1000px) {
      left:21%;
      width:250px;
    }

    @media (max-width: 780px) {
      width: 270px;
      left:35%;
    }

    @media (max-width: 570px) {
      width: 190px;
    }

    @media (max-width: 550px) {
      width: 180px;
      left:15%;
      top: 310px;
    }

    @media (max-width: 400px) {
      width: 150px;
    }
  }

  .logoFg {
    width:150px;

    @media (min-width: 550px) {
      display:none;
    }
  }

  p {
    padding-top: 0px;
    position: relative;
    top: -150px;
    width: 100%;
    color: $black;
    margin-bottom:0px;
    padding-bottom:120px;

    @media (min-width: 550px) {
      width: 70%;
      left: 30%;
      margin-left: 0;
      text-align: left;
      position:relative;
    }
  }

  .bold {
    padding-top:0px;

    @media (min-width: 550px) {

    }
  }

  a {
    color:$black;
    text-decoration:none;
  }

}

.bottomLogo{
  width: 100%;
  text-align: center;
}

footer {
  background:$midGray;
  z-index:10;
  position:relative;
  padding-bottom:80px;
  margin-top:300px;

  @media (max-width: 1280px) {
    margin-top:350px;
  }

  @media (max-width: 1050px) {
    margin-top:700px;
  }

  @media (max-width: 1000px) {
    margin-top:425px;
  }

  @media (max-width: 780px) {
    margin-top:600px;
  }

  @media (max-width: 740px) {
    margin-top:160px;
    padding-bottom:0px;
  }

  @media (max-width: 550px) {
    margin-top:300px;
    padding-bottom:30px;
  }

  @media (max-width: 400px) {
    margin-top:130px;
  }

  @media (max-width: 375px) {
    margin-top:220px;
  }

  @media (max-width: 320px) {
    margin-top:140px;
  }

  .footerTopBlotch {
    background: url("../images/gray-edge.png") repeat-x;
    height: 50px;
    position: relative;
    top: -45px;
    z-index:10;
  }

  p {
    color:$black;
    width:100%;
    margin-bottom:0px;
    text-align:center;
    position: relative;
    top: 0px;
    padding-right:0px;
    font-size:17px;

    @media (max-width: 780px) {
      width: 80%;
      margin: auto;
      padding-right: 0px;
      font-size:15px;
    }

    @media (max-width: 740px) {
      top:-20px;
    }

    @media (max-width: 550px) {
      width: 80%;
      margin: auto;
      padding-right: 0px;
      font-size:15px;
      top:0px;
    }
  }

  a {
    color:black;
  }
  
  .comments {
    font-weight:bold;
    position: relative;
    top: -5px;
    text-decoration:none;

    &:hover{
      color: darken($blotchColor, 10%);
    }
  }
}