$blotchColor: #fc9378;
$lightGray: #e2e1db;
$midGray: #bbbab7;
$darkGray: #211f1f;
$black: #000000;


@mixin centerer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

html {
  //overflow-x:hidden;
}

body{
  //overflow-x: hidden;
  background-color: $lightGray;
  padding: 0;
  margin: 0;
  font-family: "freight-sans-pro",sans-serif;
  //-webkit-transform-style: preserve-3d; This was causing the logo issues in Firefox
  -webkit-overflow-scrolling: touch;
}

p{
  color: $midGray;
  font-size: 17px;
  padding-right:40px;

  @media (min-width: 400px) {
    font-size:18px;
  }

  @media (min-width: 750px) {
    font-size:20px;
  }
}

.bold{
  font-family: "freight-sans-pro",sans-serif;
  font-weight: 700;
}

.hero{
  position: relative;
  width: 100vw;
  height: 100vh;
  transition: all 1s ease;

  @media (max-width: 550px) {
    height:25vh;
  }

  .heroLogo{
    width: 20%;
    height: auto;
    @include centerer;
    position: fixed;
    z-index: 1;
    top:40%;

    @media (max-width: 1050px) {
      width:30%;
    }

    @media (max-width: 550px) {
      width:40%;
      left:63%;
      top:20%;
    }

  }

  .heroDots{
    position: absolute;
    top: -100vh;
    right: 50px;
    width: 29%;
    height: 100vh;
    z-index: 4;
  }

  .heroBlotch{
    width: 55%;
    height: auto;
    position: absolute;
    top: 230%;
    right: 100px;
    z-index: 3;

    @media (max-width: 550px) {
      left:45%;
      width:75%;
    }
  }
}

.secondSection{
  width: 100vw;
  position: relative;
  z-index: 2;

  .blackBlotch{
    width: 90%;
    height: 1600px;
    background-color: $black;
    position: relative;
    top: -50px;
    border-style:solid;
    border-width:15px;
    padding: 15px;
    padding-top: 250px;
    border-image-source: url("../images/black-edge-border.png");
    border-image-repeat: stretch;
    border-image-slice: 30;
    border-image-outset: 15px;

    @media (max-width: 750px) {
      width:100%;
      padding:150px 0px;
    }

    //.darkTopBlotch{
    //  background: url("../images/black-edge-top.png") repeat-x;
    //  height: 50px;
    //  position: relative;
    //  top: -50px;
    //}

    p{
      color: $midGray;
    }
  }

  .richieImage{
    position: relative;
    width: 50%;

    @media (max-width: 1050px) {
      width:70%;
    }

    @media (max-width: 550px) {
      width:100%;
    }
  }
}

.imageHeadline{
  width: 300px;
  display: block;
  margin-top: 50px;
  margin-bottom: 20px;

  @media (max-width: 550px) {
    width:70%;
  }

  @media (max-width: 400px) {
    width:80%;
  }
}


.dots{
  background-image: url("../images/dots.png");
  background-repeat: repeat;
}


.thirdSection{
  position: relative;
  top: -50px;
  z-index: 1;
  background-color: $lightGray;

  .mainGif{
    width: 80%;
    margin-left: 10%;
    height: auto;

    @media (max-width: 550px) {
      width:100%;
      margin-left:0px;
    }
  }
}

.artisinalStratContainer{
  transition: top 2s linear;
  display: block;
}

.artisinalStratContainer2{
  display: block;
  position: relative;
}

.third {
  width: 100%;
  position: relative;
  padding-bottom:100px;
  z-index:11;
  transition: all 1s ease;

  .secondBlotch{
    position: absolute;
    top: 10px;
    left: 10px;
    display: block;
    margin-top: 100px;

    @media (max-width: 550px) {
      left:-100px;
      margin-top:0px;
    }
  }

  .twelve{
    margin-top: 200px;
  }

  @media (min-width: 667px) {
    background-size:contain;
    background-repeat:no-repeat;
    background-position: 20%;
    padding-bottom:240px;
  }

  @media (min-width: 1200px) {
    padding-bottom:360px;
  }

  .columns {
    display:block !important;
    opacity:1;
    transition:opacity 1s ease;

    &.hide {
      opacity:0;
    }
  }

  .smallLogo {
    margin-top: 100px;
    margin-bottom:0px;
    position: relative;
  }

  p {
    color:$black;
    margin-bottom:0px;
  }

  .quote {
    margin-top:24px;
  }

  .source {
    padding-left:20px;
    font-size:13px;

    @media (min-width: 550px) {
      font-size:15px;
    }
  }
}


.fourth {
  padding-bottom:750px;
  padding-top:80px;
  position: relative;
  z-index: 12;

  @media (min-width: 550px) {
    position: relative;
    bottom: 130px;
  }

  .logoFg {
    display:none;
    opacity:0;
    transition:opacity 1s ease;

    &.show {
      opacity:1;
    }

    &.is_stuck {
      position:fixed !important;
      top:200px !important;
    }

    @media (min-width: 550px) {
      display:block;
      width: 250px;
      position: absolute;
      left: 5%;
      top: -20%;
    }

    @media (min-width: 1050px) {
      left: 11%;
    }

    @media (min-width: 1200px) {
      left:8%;
    }
  }

  .dots {
    display: none;

    @media (min-width: 550px) {
      background: url(/dist/images/dots.png);
      display: block;
      height: 20%;
      width: 25%;
      position: absolute;
      left: 0;
      z-index: 11;
      top:18%;
    }

    @media (min-width: 1050px) {
      width:26%;
      height:40%;
    }
  }

  .container {

    @media (min-width: 550px) {
      width: 70%;
      left: 30%;
      margin-left:0;
    }
  }

  hr {
    width:110%;
    border-color:$black;
  }

  p {
    color:$black;
    margin-bottom:0px;
  }

  .last {
    margin-top:24px;
  }

}


.fifth {
  text-align:center;
  position: relative;
  z-index: 10;
  z-index: -1;
  padding-bottom:240px;
  padding-top:240px;

  img {
    position: relative;
  }

  .smallBlotchBg {
    width:300px;
    position:absolute;
    left:31%;

    @media (max-width: 1050px) {
      width:320px;
      left:23%;
    }

    @media (max-width: 1000px) {
      left:21%;
      width:250px;
    }

    @media (max-width: 550px) {
      width: 180px;
    }

    @media (max-width: 400px) {
      width: 150px;
    }
  }

  .logoFg {
    width:150px;

    @media (min-width: 550px) {
      display:none;
    }
  }

  p {
    padding-top: 0px;
    position: relative;
    top: -150px;
    width: 100%;
    color: $black;
    margin-bottom:0px;
    padding-bottom:120px;

    @media (min-width: 550px) {
      width: 70%;
      left: 30%;
      margin-left: 0;
      text-align: left;
      position:relative;
    }
  }

  .bold {
    padding-top:0px;

    @media (min-width: 550px) {

    }
  }

  a {
    color:$black;
    text-decoration:none;
  }

}

footer {
  background:$midGray;
  z-index:10;
  position:relative;
  padding-bottom:80px;
  margin-top:425px;

  @media (max-width: 1280px) {
    margin-top:350px;
  }

  @media (max-width: 1050px) {
    margin-top:700px;
  }

  @media (max-width: 1000px) {
    margin-top:425px;
  }

  @media (max-width: 550px) {
    margin-top:300px;
  }

  @media (max-width: 400px) {
    margin-top:130px;
  }

  @media (max-width: 375px) {
    margin-top:220px;
  }

  @media (max-width: 320px) {
    margin-top:140px;
  }

  .footerTopBlotch {
    background: url("../images/gray-edge.png") repeat-x;
    height: 50px;
    position: relative;
    top: -50px;
    z-index:10;
  }

  p {
    color:$black;
    width:100%;
    margin-bottom:0px;
    text-align:center;
    top: -30px;
    position: relative;
    padding-bottom:12px;
    padding-right:0px;


    @media (max-width: 550px) {
      width: 80%;
      margin: auto;
      padding-right: 0px;
    }
  }

  a {
    color:black;
  }
  
  .comments {
    font-weight:bold;
    text-decoration:none;
  }
}